<section class="about">
    <div class="row">
        <h2>What is Web Summit?</h2>
    </div>

    <ul class="social-customers">
	    <li>
	        <figure class="customers-icons">
	            <i class="ion-social-google google"></i>
	        </figure>
	    </li>
	    <li>
	        <figure class="customers-icons">
	            <i class="ion-social-facebook facebook"></i>
	        </figure>
	    </li>
	    <li>
	        <figure class="customers-icons">
	            <i class="ion-social-windows windows"></i>
	        </figure>
	    </li>
	    <li>
	        <figure class="customers-icons">
	            <i class="ion-social-apple apple"></i>
	        </figure>
	    </li>
	</ul>

	<p>
		In 5 years, Web Summit has grown from 400 attendees to over 42,000 from more than 134 countries. It’s been called “the best technology conference on the planet”. <br>
		But we just think it‘s different. And that difference works for our attendees, ranging from Fortune 500 companies to the world’s most exciting startups.
	</p>
    <div class="row">
        <h2>What Companies Have Participated In Our Events</h2>
    </div>
	<div class="companies">
		<ul class="gallery">
			<li class="item">
				<figure>
					<%= image_tag("companies/google.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/airbnb.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/amazon.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/apple.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/cisco.png") %>
				</figure>
			</li>
		</ul>

		<ul class="gallery">
			<li class="item">
				<figure>
					<%= image_tag("companies/cocacola.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/disney.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/dropbox.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/facebook2.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/ge.png") %>
				</figure>
			</li>
		</ul>

		<ul class="gallery">
			<li class="item">
				<figure>
					<%= image_tag("companies/ibm.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/intel.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/microsoft.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/pg.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/salesforce1.png") %>
				</figure>
			</li>
		</ul>

		<ul class="gallery">
			<li class="item">
				<figure>
					<%= image_tag("companies/samsung.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/stripe.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/twitter.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/uber.png") %>
				</figure>
			</li>
			<li class="item">
				<figure>
					<%= image_tag("companies/loreal.png") %>
				</figure>
			</li>
		</ul>
	</div>

</section>

<section class="section-testimonials clearfix">
        <div class="row">
            <h2>OUR CUSTOMERS CAN'T LIVE WITHOUT US</h2>
        </div>
        <div class="row">
            <div class="col span_1_of_3">
                <blockquote>
                    The giants of the web assemble <br>
					Wall Street Journal
                </blockquote>
                <cite><%= image_tag("image-1.jpg") %>Alberto Duncan</cite>
            </div>
        </div>
        <div class="row">
            <div class="col span_1_of_3">
                <blockquote>
                    It defines the ecosystem <br>
					The Guardian
                </blockquote>
                <cite><%= image_tag("image-1.jpg") %>Joana Silva</cite>
            </div>
        </div>
        <div class="row">
            <div class="col span_1_of_3">
                <blockquote>
               		Everywhere you go it’s buzzing and it’s electric <br>
					Bloomberg
                </blockquote>
                <cite><%= image_tag("image-1.jpg") %>Milton Chapman</cite>
            </div>
        </div>

</section>