<section class="section-speacker">

    <div class="row">
        <h2>2015 Featured Attendees</h2>
    </div>
	
	<div class="row speackers-box">

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/1.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/2.jpg", :alt => 'a') %>
  	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Eva Dima</h4>
      			<p><i class="ion-code-working"></i>Community builder</p>
				<p><i class="ion-android-chat"></i>Public Square</p>
				<p><i class="ion-ios-location"></i>Romania</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/3.png", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/4.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/5.png", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/6.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/7.jpg", :alt => 'a') %>
	      <figcaption>
       			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/8.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/9.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/10.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/11.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

  	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/12.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

  	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/13.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

  	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/14.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	  <a href="#">
	    <figure>
	      <%= image_tag("speackers/15.jpg", :alt => 'a') %>
	      <figcaption>
      			<h4><i class="ion-ios-person"></i>Ed Catmull</h4>
      			<p><i class="ion-code-working"></i>President</p>
				<p><i class="ion-android-chat"></i>Pixar Animation S...</p>
				<p><i class="ion-ios-location"></i>United States</p>
	      </figcaption>
	    </figure>
	  </a>

	</div>
	
</section>